<section>
  <div class="row">
    <div class="col-md-1">
      <p><%= image_tag avatar_url(current_user), class: "user-photo" %></p>
    </div>
    <div class="col-md-11">
      <p>
        <strong>Username:</strong>
        <%= current_user.username %>
      </p>
      <p>
        <strong>Email:</strong>
        <%= current_user.email %>
      </p>
      <p>
        <strong><%= current_user.stories.count %> artigos compartilhados</strong>
      </p>
    </div>
</section>