<div class="row">
  <div class="col-sm-12">
    <div class="page-container page-about">
      <header>
        <%= image_tag "about_header.jpg" %>
        <h1>Criando Uma Grande Comunidade <br />Apaixonada por Saúde e Bem Estar</h1>
        <hr />
      </header>

      <section div class="row">
        <div class="col-md-6">
          <p>
            Bem vindo ao <b>Saúde Diário</b>! Somos a mais nova comunidade que ama acompanhar e compartilhar o que tem de melhor e mais atual sobre saúde e bem estar.
          </p>

          <p>
            Seja seu objetivo emagrecer, ganhar mais energia para o dia-a-dia, cuidar de doenças como Diabetes ou autoimunidade, melhorar o humor ao combater o estresse e insônia, estudar artigos científicos ou simplesmente, adora acompanhar o que rola de mais novo em saúde na internet, você veio ao lugar certo!
          </p>
        </div>
        <div class="col-md-6">
          <p>
            O <b>Saúde Diário</b> está no seu primeiro mês no ar, portanto sua colaboração ao compartilhar artigos, votos e comentários é super bem vinda!
          </p>

          <p>
            Ah! E se você for um redator de artigos relacionados ou um blogueiro apaixonado, não deixe de compartilhar o que você tem com a gente também!
          </p>
        </div>
      </section>
      
      <hr />

      <section>
        <h2>Como o Diário Saúde funciona</h1>

        <div class="row how-it-works">
          <div class="col-md-6">
            <h2>1.</h2> 
            <p>
              Qualquer pessoa pode compartilhar artigos sobre <b>fitness, alimentação, novidades médicas, tratamentos, doenças, curas</b> ou outro assunto relacionado a área da saúde.
            </p> 
          </div>
          <div class="col-md-6">
            <h2>2.</h2> 
            <p>
              Leitores votam em quais artigos mais gostaram. Os melhores artigos subirão e serão lidos por mais pessoas.
            </p> 
          </div>
        </div>

        <div class="row how-it-works">
          <div class="col-md-6">
            <h2>3.</h2> 
            <p>
              Você também pode criar discussões ao comentar em cada artigo. Comentários são bem vindos para adicionar informações, contexto, perguntas e humor!
            </p> 
          </div>
          <div class="col-md-6">
            <h2>4.</h2>
            <p>
              Não esqueça de compartilhar os melhores artigos e notícias pelas redes sociais!
            </p> 
          </div>
        </div>
      </section>

      <section>
        <h2>Contato</h2>

        <p>Para falar com os administradores do Saúde Diário, mande um email para <a id="email"></a> e responderemos o mais breve possível.</p>
        <script>
          $("#email").html("contato@saudediario.com.br").attr("href", "mailto:contato@saudediario.com.br");
        </script>
      </section>
    </div>
  </div>
</div>