<div class="row">
  <div class="col-sm-12">
    <div class="page-container page-about">
      <header>
        <%= image_tag "about_header.jpg" %>
        <h1>Criando Uma Grande Comunidade <br />Apaixonada por Saúde e Bem Estar</h1>
        <hr />
      </header>

      <section>
        <h2>Como o Diário Saúde funciona</h1>

        <div class="row how-it-works">
          <div class="col-md-6">
            <h2>1.</h2> 
            <p>
              Qualquer pessoa pode compartilhar artigos sobre <b>fitness, alimentação, novidades médicas, tratamentos, doenças, curas</b> ou outro assunto relacionado a área da saúde.
            </p> 
          </div>
          <div class="col-md-6">
            <h2>2.</h2> 
            <p>Leitores votam em quais artigos são importantes. Os melhores histórias subirão e serão lidos por mais pessoas.
            </p> 
          </div>
        </div>

        <div class="row how-it-works">
          <div class="col-md-6">
            <h2>3.</h2> 
            <p>Você também pode criar discussões ao comentar em cada artigo. Comentários são bem vindos para adicionar informações, contexto, perguntas e humor!
            </p> 
          </div>
          <div class="col-md-6">
            <h2>4.</h2>
            <p>
              Não esqueça de compartilhar os melhores artigos e notícias pelas redes sociais!
            </p> 
          </div>
        </div>
      </section>

      <section>
        <h2>Contato</h2>

        <p>Para falar com os fundadores do Saúde Diário, mande um email para <a id="email"><span>.</p>
        <script>
          $("#email").html("contato@saudediario.com.br").attr("href", "mailto:contato@saudediario.com.br");
        </script>
      </section>
    </div>
  </div>
</div>