<p>
  Olá <%= @recipient.username %>!
</p>

<p>
  Seu artigo recebeu um novo voto de <%= @rater.username %>!
</p>

<p>
  Veja seu artigo aqui:
</p>

<p>
  <%= link_to @story.description, story_url(@story) %>
</p>

<p>
  <u>Equipe Saúde Diário</u>
</p>

---

<p>
  Caso não deseje mais receber notificações por email quando alguém<br/>
  votar no seu artigo, por favor atualize suas preferências na <%= link_to "página de perfil", edit_user_registration_url %>.
</p>