#main-menu {
  margin-top: -59px;
  width: 100%;
  background-color: rgba(0,0,0,0.4);

  .menu-btn-actions {
    margin-bottom: 0px;
  }

  a {
    padding: 7px 0px;
    color: white;
    display: inline-block;
    margin-left: 5px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2em; 
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  }

  a + a {
    margin-left: 20px;
  }

  .menu-icon {
    height: 18px;
  }
}

#mobile-main-menu {
  margin-top: -21px;
  width: 100%;
  background-color: #111;
  border: 0px;

  a {
    color: white;
  }

  a span {
    margin-right: 10px;
  }

  li:hover {
    background: #ccc;

    a { color: #333; }
  }
}